#### 1

In [2]:
for num in range(1,100):
    if num%5==0:
        print(num,end=' ')

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

#### 2

In [ ]:
#List is a collection which is ordered and changeable. Allows duplicate members
list = ['joy','jane','john']

#Dictionary is a collection which is ordered** and changeable. No duplicate members.
dictionary = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

#Tuple is a collection which is ordered and unchangeable. Allows duplicate members
mytuple = ("apple", "banana", "cherry")

#### 3

In [1]:
num = [1,5,7,8,9]
sum = 0
for val in num:
    sum += val
sum

30

#### 5

In [1]:
# pandas and numpy are libraries used in exploratory data analysis
#eg pandas used in creating dataframes
import pandas as pd
# Create a DataFrame
data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30], 'City': ['New York', 'Los Angeles']}
df = pd.DataFrame(data)
df

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

In [3]:
#numpy
#used for performing numerical arrays operation
import numpy as np
# Create an array
arr = np.array([1, 2, 3, 4])
squared = arr ** 2  # Element-wise squaring
squared

array([ 1,  4,  9, 16])

#### 6

In [4]:

numbers = [10, 20, 30, 40, 50]    
total = 0  
for number in numbers:
    total += number  
    average =  total / len(numbers)
average

30.0

#### 7

In [8]:
#In Python, try, except, and finally are used to handle exceptions and ensure that 
# certain code executes regardless of whether an error occurs.

def divide_numbers(a, b):
    try:
        result = a / b
    except ZeroDivisionError as e:
        print("Error: cannot be divided by zero.")
        return None
    except TypeError as e:
        print("Error: Both arguments must be numbers.")
        return None
    else:
        print("division successful!")
        return result
    
num1, num2 = 10, 0
print(f"Result: {divide_numbers(num1, num2)}")

num1, num2 = 10, 5
print(f"Result: {divide_numbers(num1, num2)}")

Error: cannot be divided by zero.
Result: None
division successful!
Result: 2.0

#### 8

In [19]:
my_list = [1, 2, 3]
print(my_list[1])

2

## section 2

yes

In [ ]:
#2
import pandas as pd
import numpy as np

# Sample DataFrame with missing values
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [10, np.nan, 30, 40, 50],
    'C': [np.nan, 20, 30, 40, np.nan]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Replace missing values with the column mean
df_filled = df.apply(lambda col: col.fillna(col.mean()) if col.dtype != 'O' else col)

print("\nDataFrame after replacing missing values with column mean:")
print(df_filled)

In [20]:
#4
import matplotlib.pyplot as plt
plt.figure()
plt.show()

In [ ]:
#5
plt.legend()
plt.title()
plt.xlabel()
plt.ylabel()

## section 3

1

mean; average of values (continuous and normally distributed)
mean = total/totla_number_values
median;middle value (handling missing values,with outliers and are normally istributed)
median = upper quartile-lower quartile
SD; square root of variance

## section 4


Supervised Learning:
In supervised learning, the model is trained on labeled data
classification
regression

In unsupervised learning, the model is trained on data that has no labels
custering